
.rs {
  height: 3vh;
  width: auto; /* maintain aspect ratio */
  max-width: 24px; /* prevent it from stretching too much */
  box-shadow: 1px 1px 10px black;
}

/* Input fields */
form{
  position: absolute;
  left: 35%;
  bottom: -10%;
}
input {
  outline: none;
  border: none;
  height: 5vh;
  width: 10vw;
  min-width: 120px;
  padding: 0 0.5em;
  font-size: 1em;
  
}
.location input{
  width: 15vw;
}

/* Main search container */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;
  gap: 1em;
  max-width: max-content;
  padding: 1em;
  border-radius: 8px;
  flex-wrap: wrap; /* makes it responsive on smaller screens */
  border: 2px solid rgba(108, 106, 106,0.2);

}

/* Input sections */
.location,
.price {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding-left: 1em;
}
.price{
  border-left: 1px solid black;
}

/* Labels */
label {
  margin-left: 0.5em;
  font-size: 1.1em;
  word-spacing: 0.05em;
  text-transform: uppercase;
  color: rgb(127, 157, 221);
}

/* Search button */
.searchbtn {
  margin-right: 2em;
  height: 5vh;
  width: 7vh;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.searchbtn button{
  outline: none;
  border-radius: 5%;
  border: none;
  padding: 1em;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: rgb(72, 144, 192);
  color: aliceblue;
}
.searchbtn:hover {
  background-color: darkblue;
}
input::placeholder{
  font-size: 14px;
}
.min{
  margin: 0;
}
 